*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.btn-primary{
    background-color:tomato;
    padding: 10px 18px;
    color: white;
    border-radius:5px;
}


/* header start */
header{
    background-color:rgb(231, 218, 216);
    background-image:url('./images/header_bg.png'),url('./images/developer.png');
    background-position:bottom right,center left;
    background-repeat: no-repeat;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:43px 115px 0px;
    
}

nav span{
    color:tomato;
}

nav h3{
    font-weight:900;
    font-size:30px;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    padding:0px 10px;
}

nav ul li a{
    text-decoration: none;
    color:black;
    font-weight:bold;
}


/* nav end */



/* slider-content start */
.slider{
    display: flex;
    margin-top:80px;
    justify-content: space-between;
}

.slider-content{
    padding-left:115px;
    margin-top:100px;
    
}


.slider img{
    width:600px;
}


.slider-content h3{
    font-size:20px;
    margin-bottom:20px;
}


.slider-content h1{
    margin-bottom:30px;
    font-weight: 600;
    font-size:40px;
}


.slider-button ul{
    display: flex;
}

.slider-button ul li{
    list-style:none;
    margin-right:15px;
}


.slider-button ul li a{
    text-decoration: none;
}

.slider-button{
    margin-top:29px;
    margin-right:20px;
}


.btn-simple{
    border:1px solid tomato;
    padding:10px 18px;
    color:tomato;
    border-radius:8px;
}



/* slider-content end */

.about{
    margin:90px auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.about-section{
    background-color: rgb(223, 209, 207);
    width:700px;
    padding:35px;
}


.about-section h4{
    font-size:20px;
    margin-bottom:20px;
}

.about-section ul{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-top:40px;
}

.about-section ul li{
    list-style:none;
    display:flex;
    flex-direction: column;
}

.about-section a{
    text-decoration: none;
    margin-top:7px;
    font-weight:900;
    color: black;
}



.what{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 245, 245);
    padding:50px;
}


.what-section{
    text-align: center;
    width: 890px;
}


.what-section h4{
    font-size:20px;
    margin-bottom:20px;
}


.what-col{
    display: flex;
    margin-top:35px;
    width:800;
}


.developer{
    background-color:white;
    margin:10px;
    padding:15px;
    text-align: left;
}

.developer img{
    height:40px;
    margin-bottom:8px;
}

.developer h6{
    font-size:14px;
}

.developer p{
    font-size:14px;
    margin-top:8px;
}


.Resume{
    text-align: center;
    margin:50px auto;
}

.Resume a{
    text-decoration: none;
    font-weight:600;
}

.Resume h3{
    font-size:25px;
}

.Resume-section{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-bottom:39px;
}

.engineering{
    width:40%;
    text-align: left;
    margin-top:60px;
}


.Engineeing-section{
    margin-right:5%;
}

.Engineeing-section h5{
    margin-bottom:10px;
    font-size:14px;
    font-weight:700;
    margin-top:17px;
}

.Engineeing-section h6{
    margin-bottom:10px;
}

.Engineeing-section p{
    margin-bottom:10px;
}












